body{
    background-color:grey;
}
img{
   
   animation: picture 10s ease-in-out 2s infinite;
}
@keyframes picture {
    0%{
        transform: translate(5cm,ocm);
        
    }
    25%{
        transform: translate(10cm,ocm);
    }
    50%{
        transform:  translate(10cm,10cm);
    }
    75%{
        transform:  translate(0cm,10cm);
    }
    100%{
        transform:  translate(0cm,ocm);
    }
    
    
}