body {
    background-color: lightblue;
}

#content {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}

h1 {
    color: rgb(0, 140, 255);
    font-size: 50px;
}

p {
    font-size: 20px;
    color: red;
}